[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "chef/cookbooks/vim"]
	path = chef/cookbooks/vim
	url = git://github.com/opscode-cookbooks/vim.git
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = git://github.com/opscode-cookbooks/git.git
